<style>
            p{
                font-family: arial;
                width: 500px;
                margin-top: 0px;
                margin-bottom: 0px;
                line-height: 25px;
           }

            .link-par{
                margin-bottom: 10px;
            }
            .web-par{
                color: gray;
            }

            .web-par-2{
                color: rgb(30, 154, 255);
            }


            .sentence-mid{
                margin-bottom: 20px;
            }
        </style>